<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @notification.name %></p>
    <p>Subject: <%= @notification.subject %></p>
    <p><%= @notification.content %></p>
  </body>
</html>